# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
storybook-static

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Test Output
temp/tests/test-runner-output.json
temp/tests/test-report-output.json